.profile-page {
  width: 15%;
  /* overflow: hidden; */
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border: black;
}

.image {
  height: 160px;
  width: 100px;
  float: left;
  }
.button {
  height: 33px;
}
.container {
height: 100%;
width: 100%


}